<h1> Create Post </h1>

<div class='form-container'>
    <%= form_with model: @post, url: posts_path do |form| %>
        <% if @post.errors.any? %>
            <div> 
                <% @post.errors.full_message.each do |message| %>
                    <p> <%= message %> </p>
                <% end %>
            </div>
        <%end%>
        <div class='title-div'>
            <%= form.text_field :title, placeholder: 'Post Title' %>
        </div>
        <div class='description-div'>
            <%= form.text_area :text, placeholder: "Post Description" %>
        </div>
        <div>
            <%= form.submit %>
        </div>
    <% end %>
</div>