<div class='post-comment-wrapper'>
    <div class='likes-wrapper'>
        <p>Comments:<%= @post.comments_counter %>, Likes : <%= @post.likes_counter %>
       <div class='dflex'>
            <div class='m-left-right'>
                <%= form_with url: post_likes_path(@post.id) do |form| %>
                    <%= form.submit "Like", class: "like-button" %>
                <% end %>
            </div>
            <div>
                <% if can? :destroy, @post %>
                    <%= form_with url: user_post_path(@post.id), method: :delete do |form| %>
                        <%= form.submit "Delete", class: "like-button" %>
                    <% end %>
                <% end %>
            </div>
       </div>
    </div>
    <div class='post-div'>
        <h4> <%= @post.title %> </h4>
        <p> <%= @post.text %> </p>
    </div>
    <div class='comment-div'>
        <% @post.comments.each do |comment| %>
            <div class='dflex justify-between'> 
                <p class='comment'><%= comment.author.name %>: <%= comment.text %> </p>
                <% if can? :destroy, comment %>
                    <%= form_with  url: post_comment_path(@post.id, comment.id), method: :delete do |form| %>
                        <%= form.submit "Delete", class: "like-button" %>
                    <% end %>
                <% end %>
            </div>
        <% end %>
    </div>
</div>

<div class='form-div'>
    <%= form_with url: post_comments_path(@post.id), scope: :data, class: "form" do |form| %>
	<div class="field">
		<%= form.text_area :text, placeholder: "Leave a comment...", rows: 3, required: true, class: "textarea has-fixed-size" %>
	</div>
	<%= form.submit "Submit", class: "comment-btn" %>
<% end %>
</div>
